@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body{
	font-family: "Open Sans",sans-serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}


/* COR PRINCIPAL */
.nav.active, .nav:hover, .content-01, .informativo, .whycoc, .sub-slider, .navbar-collapse{
	/*background-color: #7cba11;*/
	background-color: #314E88;
}

.tablet, .mobile, .x-mobile{
  display: none !important;
}

.faleconosco:hover a{
  color: #fff;
}

.subtitle, .whycoc .menor{
	color: yellow;
}

a:link, a:hover, a:active{
	text-decoration: none;
	cursor: pointer;
}

.null{
	all:unset;
}

ul{
  color:#777;
}

.null:hover{
  cursor: pointer;
}

.fade-social-secao .null:hover{
  all:unset;
  cursor: pointer;
}

.material-icons{
	color: #b4b4b4;
	font-size: 21px;
	font-weight: bold;
}

.fab, .fas{
	z-index: 1;
}

.relative{
	position: relative;
}

.d-flex-row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.d-flex-column-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.d-flex-row-end{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.d-flex-row-start{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.d-flex-column-start{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fade-social{
	position: absolute;
	width: 100%;
	height: 0;
	top: 0px;
	left: 0px;
	z-index: 0;
	transition: all 0.2s;
}

.row-social{
	/*background-color:#2e2e30;*/
	background-color: #f4f4f4;
	height: 2.2rem;
	max-height: 73.75rem;
	border-bottom:1px solid #eeeeee;
}

.row-social .fab, .row-social .fas{
	width: 30px;
	border-radius: 0;
  font-size: 14px;
  display: block;
  color: #b4b4b4;
}

.row-social span, .row-social span a{
  font-size: 12px;
  color:#777;
}

.row-social .tel{
  font-size: 11px;
}

.row-social .material-icons{
  font-size: 13px;
  font-weight: bold;
}

.fade-social-twitter{
	background-color: rgb(0, 132, 180);
}

.fade-social-facebook{
	background-color:rgb(59,89,152);
}

.fade-social-in{
	background-color: #267bb9;
}

.fade-social-p{
	background-color: #c41818;
}

.fade-social-rss{
	background-color: #ff9a00;
}

.fade-social-google{
	background-color: #c53c07;
}

.twitter:hover .fade-social-twitter, .facebook:hover .fade-social-facebook, 
.in:hover .fade-social-in, .p:hover .fade-social-p, .rss:hover .fade-social-rss, 
.google:hover .fade-social-google{
	height: 2.2rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.twitter:hover .fa-twitter, .facebook:hover .fa-facebook-f, 
.in:hover .fa-linkedin-in, .p:hover .fa-pinterest-p, .rss:hover .fa-rss, 
.google:hover .fa-google-plus-g{
	color:#fff;
}

.font1{
	font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  opacity: .98; 
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#777;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
}

.topo{
	padding:3px 0px 3px 0px;
	height: 96px;
	border-bottom: 1px solid #c9c9c9;
}

.logo{
	max-width: 190px;
}

nav ul{
	list-style: none;
}

nav .nav{
	height: 100%;
	width: 200px auto;
	padding: 30px;
}

nav .nav a, nav .nav{
	font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

nav .nav:hover, nav .nav a:hover{
	color:#fff;
}

nav .nav:hover .sub-nav{
	display: inline;
}

nav .nav.active{
	color:#fff;
}

.content-01{
	height: 300px auto;
	min-height: 280px;
	padding: 4% 0px 0px 4%;
}

h1,h2,h3,h4,h5{
	font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
  opacity: .98;
}

h1.title-on{
	font-size: 25px;
	margin-bottom: 1em;
  border-bottom-color: #f1c40f;
}

h4.title-on{
  font-size: 16px;
  margin-bottom: 1em;
  border-bottom-color: #f1c40f;
}

h1.title-on:after{
  left: 15px;
}

h4.title-on:after{
  left: 0px;
}

h1.title-on:after, h4.title-on:after{
	content: "";
  position: absolute;
  width: 38px;
  border-bottom: 2px solid #f1c40f;
  border-bottom-color: inherit;
  -webkit-margin-before: 1.40em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1.principal{
	width: 350px;
	padding: 0px;
}

h1.principal:after{
	content: "";
  position: absolute;
  left: 15px;
  width: 38px;
  border-bottom: 2px solid #f1c40f;
  border-bottom-color: inherit;
  -webkit-margin-before: 1.40em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 44%;
  -webkit-margin-end: 0px;
}

h4.msv{
	font-size: 14px;
	margin:20px 0px 20px 0px;
}

/*h4.card-title{
	font-size: 14px;
}*/

.whycoc{
	width: 100%;
	min-height: 600px;
  -webkit-clip-path: polygon(42% 7%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
	clip-path: polygon(42% 7%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
	padding: 5% 0% 0% 10%;
}

.whycoc h1{
	color: #fff;
}

.whycoc h1:after{
	content: "";
    position: absolute;
    left: 10%;
    width: 38px;
    border-bottom: 2px solid #fff;
    /*border-bottom-color: inherit;*/
    -webkit-margin-before: 1.40em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.whycoc .subtitle{
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-weight: 400;
}

.whycoc p{
	color: #fff;
	font-family: Verdana,Geneva,sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-align: justify;
  padding-right: 10%;
}

.whycoc .card-mid p{
	max-width: 250px;
	font-size: 13px;
	text-align: center;
	padding: 0px;
}

.whycoc img{
	max-width: 250px;
	border:5px solid lightgrey;
}

.whycoc .menor{
	font-size: 22px;
  margin-top: -2px;
  margin-bottom: 10px;
  font-weight: 400;
}

.whycoc .menor:after{
	content: "";
  position: absolute;
  left: 10%;
  width: 0px;
  border-bottom: 2px solid #fff;
  /*border-bottom-color: inherit;*/
  -webkit-margin-before: 1.40em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.typeoff{
	border-top:2px solid #086104;
	width: 30px;
	height: 2px;
}

p.geral{
	color:#777;
}

.card{
	max-width: 230px;
}

.card .vejamais{
	height: 48px;
	border: 1px solid rgba(0,0,0,.125);
}

#noticias .btn, #noticias .btn:hover{
	color:#fff;	
}

.informativo{
	height: 150px auto;
}

.informativo h2, .informativo p, .footer-bottom h6, ul.footer-2 li a, ul.footer-2 li.news a{
	color:#fff;
}

.informativo .btn:hover{
	color:#314E88;
}

.footer-bottom{
	padding: 2em 0 1em;
  background: #3e4142;
  color: #999;
}

ul.footer, ul.footer-2{
	list-style: none;
}

ul.footer li{
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.footer-2 li{
	margin-top: 13px;
	margin-bottom: 13px;
}

ul.footer-2 li.news{
	border-bottom:1px solid #575757;
	padding:0px 3px 5px 3px;
}

ul.footer-2 li a:hover{
	color:yellow;
}

.footer-copyright{
	height: 70px;
	background: #2b2b2b;
	padding-left: 40px;
	color: #fff;	
}

.footer-copyright a.fb{
	width: 30px;
	height: 30px;
	color:#fff;
	transition: all 0.5s;
}

.footer-copyright a.fb:hover{
	transform: scale(1.2);
}

.sub-nav{
	position: absolute;
	top: 100%;
	right: 0;
	background: lightgrey;
	width: 210px;
	z-index: 2;
	font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  display: none;
  transition: all 0.5s;
}

.sub-nav ul li a, .faleconosco a{
	color:#333;
}

.sub-nav-3{
	height: 124px;
  width: auto;
  min-width: 164px;
}

.sub-nav-2{
	height: 154px;
}

.sub-nav ul{
	width: 100%;
	border-right: 2px solid #314E88;
	padding-left: 0px;
	color:#333;
}

.sub-nav ul:hover{
	background-color: #fff;
	color: #333;
}

.sub-nav ul li{
    width: 160px auto;
    height: 30px;
    padding: 15px 15px 15px 0px;
    text-align: right;
   	display: flex;
   	flex-direction: row;
   	align-items: center;
   	justify-content: flex-end;
   	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid #ededed;
    transition: all 0.5s;
}

.sub-nav ul li:last-child{
	border-bottom: 0px solid #ededed;
}

.sub-nav ul li:hover{
	background-color: #314E88;
	color: #fff;
	padding-right: 5px;
	border-left: 5px solid #4267B2	;
}

.sub-nav ul li:hover a{
	color:#fff;
}

.sub-slider{
	height: 60px;
	border-bottom: 3px solid #4267b2;
	color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5); 
}

/*body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  background: #eee;
}*/

.cards-top input,
.cards-top button {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  border: 0;
  padding: 3px 5px;
  border-radius: 3px;
}

.card1 h1 {
  margin: 0.5em 0 1em 0;
  font-size: 1.8em;
  font-weight: 700;
  color: #fff;
}

.card1 h2, .card1 h3 {
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  line-height: 1.4em;
  font-size: 1.0em;
  font-weight: 700;
}

.cards-top p {
  margin-bottom: 1em;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper1 {
  width: 100%;
  padding: 4%;
  background: #fff;
}

.container1 {
  position: relative;
  float: left;
  width: 30%;
  height: 260px;
  margin: 10px 0 10px 4%;
  background: #fff;
  
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.cards-top .container1:first-child {
  margin-left: 0;
}

.card1 {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;

  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card1.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card1 .front1,
.card1 .back1 {
  display: block;
  height: 100%;
  width: 100%;
  /*line-height: 260px;*/
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card1 .back1 {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}

.cards-top .formItem1:first-child {
  margin-top: 20px;
}

.card1 .back1 label {
  display: inline-block;
  width: 70px;
  text-align: left;
}

.card1 .front1 {
  background: #314E88;
}

.card1 .back1 {
  background: #314E88;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.container1:first-child .card1 .front1 {
  background: #096AA3;
}

.container1:first-child .card1 .back1 {
  background: #03446A;
}

.container1:last-child .card1 .front1{
	background-color: #03446A;
}

.container1:last-child .card1 .back1{
	background: #096AA3;
}

.cardTitle1 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0;
}

.cards-top .content1 {
  padding: 4%;
  font-weight: 100;
  text-align: left;
  height: 100%;
}

button.btnSend1 {
  display: inline-block;
  min-width: 100px;
  padding: 3px 5px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #03446A;
  background: #fff;
  border: 0;
  border-radius: 0;
}

.titulo-secao h1{
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  max-width: 100%;
  color: #616161;
  font-size: 24px;
  line-height: 1;
}

.secao-site{
  height: 40px;
  border-bottom:1px solid #c9c9c9;
}

.title-info{
  color: #616161;
  font-weight: bold;
}

.info-row .title-info, .info-row a{
  line-height: 1.5em;
  margin:0px;
  padding: 0;
}

.info-top, .info-bottom{
  border-bottom: 1px solid #c9c9c9;
}

.form-group label{
  color:#777;
}

.footer-2 li i{
  font-size:12px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

.desktop, .mobile, .x-mobile{
  display: none !important;
}

.tablet{
  display: flex !important;
}


.row-social{
  /*background-color:#2e2e30;*/
  background-color: #f4f4f4;
  height: 2.2rem;
  max-height: 73.75rem;
  border-bottom:1px solid #eeeeee;
}

.row-social .fab, .row-social .fas{
  width: 25px;
  border-radius: 0;
  font-size: 12px;
  display: block;
  color: #b4b4b4;
}

.row-social span, .row-social span a{
  font-size: 10px;
  color:#777;
  padding-left: 3px;
}

.row-social .tel{
  font-size: 9px;
}

.row-social .material-icons{
  font-size: 9px;
  font-weight: bold;
}

.logo{
  max-width: 130px;
}

.topo{
  padding:3px 0px 3px 0px;
  height: 56px;
  border-bottom: 1px solid #c9c9c9;
}

.nav a.null, .faleconosco .fc, .nav span, .nav ul li a, .nav ul li{
  font-size: 11px;
}

.sub-nav{
  width: 140px;
}

.sub-nav-3{
  min-width: 90px;
}

.sub-slider{
  font-size: 12px;
}

h1.title-on:after{
  left: 10%;
}

#sobre .title-on:after{
  left:2.3%;
}

#noticias .title-on:after{
  left:3.6%;
}

#noticias .fb:after{
  left: 7%;
}

.whycoc{
  -webkit-clip-path: polygon(42% 7%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
  clip-path: polygon(42% 2%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
}

.card-content{
  font-size: 11px;
}

h4.card-title{
  font-size: 13px;
}

.informativo{
  height: 100px auto;
}

footer{
  font-size: 9px;
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

.tablet, .desktop, .x-mobile{
  display: none !important;
}

.mobile{
  display: flex !important;
}

.outmobile{
  display: none !important;
}

.row-social{
  /*background-color:#2e2e30;*/
  background-color: #f4f4f4;
  height: 2.2rem;
  max-height: 73.75rem;
  border-bottom:1px solid #eeeeee;
}

.row-social .fab, .row-social .fas{
  width: 25px;
  border-radius: 0;
  font-size: 12px;
  display: block;
  color: #b4b4b4;
}

.row-social span, .row-social span a{
  font-size: 10px;
  color:#777;
  padding-left: 3px;
}

.row-social .tel{
  font-size: 9px;
}

.row-social .material-icons{
  font-size: 9px;
  font-weight: bold;
}

.logo{
  max-width: 120px;
}

.topo{
  padding:3px 0px 3px 0px;
  height: 56px;
  border-bottom: 1px solid #c9c9c9;
}

.nav a.null, .faleconosco .fc, .nav span, .nav ul li a, .nav ul li{
  font-size: 11px;
}

.sub-nav{
  width: 140px;
}

.sub-nav-3{
  min-width: 90px;
}

.sub-slider{
  font-size: 12px;
}

.container1 {
  height: 160px;
}

.front1 h2{
  font-size: 25px;
}

.back1 p{
  font-size: 9px;
  line-height: 1.6em;
}

h1.title-on:after{
  left: 10%;
}

#sobre .title-on:after{
  left:3.4%;
}

#noticias .title-on:after{
  left:3.6%;
}

#noticias .fb:after{
  left: 3%;
}

.whycoc{
  -webkit-clip-path: polygon(42% 7%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
  clip-path: polygon(42% 2%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
}

.card{
  max-width: 100%;
}

.card-content{
  font-size: 11px;
}

h4.card-title{
  font-size: 13px;
}

.informativo{
  height: 100px auto;
}

footer{
  font-size: 9px;
}

ul.footer-2 li{
  padding: 0px;
  width: 100%;
} 

ul.footer-2 li.news{
  border-bottom:1px solid #575757;
}


}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

.tablet, .desktop, .mobile{
  display: none !important;
}

.x-mobile{
  display: block !important;
}

.x-outmobile{
  display: none !important;
}

.navbar{
  margin-left: 61%;
  background:#f2f2f2;
  max-height: 100%;
  z-index: 1000000;
}

.navbar-nav li{
  border-bottom: 1px solid #c9c9c9;
}

.navbar-nav li:last-child{
  border-bottom: 0px;
}

.dropdown-menu{
  background-color: #4267b2;
}

.navbar-nav li a{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.no-wrap{
  flex-wrap: nowrap;
}

.row-social{
  /*background-color:#2e2e30;*/
  background-color: #f4f4f4;
  height: 2.2rem;
  max-height: 73.75rem;
  border-bottom:1px solid #eeeeee;
}

.row-social .fab, .row-social .fas{
  width: 25px;
  border-radius: 0;
  font-size: 12px;
  display: block;
  color: #b4b4b4;
}

.row-social span, .row-social span a{
  font-size: 10px;
  color:#777;
  padding-left: 3px;
}

.row-social .tel{
  font-size: 9px;
}

.row-social .material-icons{
  font-size: 9px;
  font-weight: bold;
}

.logo{
  max-width: 120px;
}

.topo{
  padding:3px 0px 3px 0px;
  height: 56px;
  border-bottom: 1px solid #c9c9c9;
}

.nav a.null, .faleconosco .fc, .nav span, .nav ul li a, .nav ul li{
  font-size: 11px;
}

.sub-nav{
  width: 140px;
}

.sub-nav-3{
  min-width: 90px;
}

.sub-slider{
  font-size: 10px;
}

.container1 {
  height: 160px;
}

.front1 h2{
  font-size: 25px;
}

.back1 p{
  font-size: 11px;
  line-height: 1.1em;
}

h1.title-on{
  font-size: 17px;
}

h1.title-on:after{
  left: 0%;
}

#sobre .title-on:after{
  left:4.5%;
}

#noticias .title-on:after{
  left:5%;
}

#noticias .fb:after{
  left: 4.5%;
}

.whycoc{
  -webkit-clip-path: polygon(42% 1.1%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
  clip-path: polygon(42% 1.2%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 1%);
}

.whycoc h1{
  margin-bottom: 20px;
}

.whycoc h1:after{
  content: "";
  position: absolute;
  left: 10%;
  width: 38px;
  border-bottom: 2px solid #fff;
  /*border-bottom-color: inherit;*/
  -webkit-margin-before: 1.40em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.container1 {
  height: 160px;
}

.card{
  max-width: 100%;
}

.card-content{
  font-size: 11px;
}

h4.card-title{
  font-size: 13px;
}

.informativo{
  height: 100px auto;
}

footer{
  font-size: 14px;
}

ul.footer-2 li{
  padding: 0px;
  width: 100%;
} 

ul.footer-2 li.news{
  border-bottom:1px solid #575757;
}

ul li.news:last-child{
  border-bottom: 0px solid;
}

.footer-copyright{
  height: 90px;
}

}